---
import Favicon from "./Favicon.astro"

const description = `
Mbare is an open source collective based in Catania, Italy.
From the local dialect, mbare roughly means "buddy" or
"friend", representing the value of collaboration essential
to making great software.
`.trim()
---

<Favicon />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="description" content={description} />
<title>Mbare</title>
