---
import Logo from "@assets/logo-full.svg?raw"
---

<main>
  <h1>Mbare</h1>
  <Fragment set:html={Logo} />
</main>

<style>
  h1 {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333;
  }
</style>
